@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 110%;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222 84% 5%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 358 79% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 358 100% 97%;
    --accent-foreground: 358 79% 60%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 358 70% 90%;
    --input: 358 70% 90%;
    --ring: 358 79% 60%;
    --chart-1: 358 79% 60%;
    --chart-2: 172 56% 51%;
    --chart-3: 39 92% 57%;
    --chart-4: 215 89% 61%;
    --chart-5: 269 84% 68%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 358 79% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 20% 40%;
    --muted-foreground: 210 40% 80%;
    --accent: 358 20% 20%;
    --accent-foreground: 358 79% 65%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 358 20% 30%;
    --input: 358 20% 30%;
    --ring: 358 79% 65%;
    --chart-1: 358 79% 65%;
    --chart-2: 172 56% 56%;
    --chart-3: 39 92% 62%;
    --chart-4: 215 89% 66%;
    --chart-5: 269 84% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
